# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Logs
logs/

# Secret keys
security/key.key
.env

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Ignore Nmap binaries and folders
tools/nmap/
*.exe
*.dll